<h1>about the app</h1>
<p class="bg-info text-danger">This is app using OpenAI API </p>
<p> 
    this is a gpt-based webapp! we use openai to help you know fun stuff like the most popular baked goods in a specific area. 

</p>