

<h1> hello! welcome to our openai app! </h1>

<% if(loggedIn) { %>
<p> 
    sophia wang's link  <a href="/foodgpt">click here!</a>
</p>


<% }else { %>

    <p> 
    Login or signup above to access foodgpt!
    </p>


    <% } %>
