<h1>meet sophia</h1>

<p> 
Sophia Wang aspires to impact and assist others through skills in problem-solving, storytelling, and creativity.
She hopes to create purposeful and seamless experiences that promote productive, healthy spaces and conversations.
  
</p>